/* RESET CSS */


* {
  box-sizing: border-box;
  /* border: 0.5px solid red;  */
}

html, body {
  width: 100%;
  color: #e4e2e2;
  text-align: center;
  margin: 0; 
  padding: 0; 
  background-color: #314950;
  font-family: 'Libre Franklin', sans-serif
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  color: #F7CE3E;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  color:#e4e2e2;
}

.button {
  width: 10rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid  #F7CE3E;
  height: 3rem;
  color: #e4e2e2;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 3px #3f3e3e;
}

.button:hover {
  color:  #1a2930;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 1rem;
  color: #1a2930;
  border-radius: 3px;
  background-color: white;
  box-shadow: inset 0 1px 3px #ddd;
}

::placeholder {
  font-size: 0.8rem;
}

.error {
  margin-top: 2.5rem;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

form {
  width: 100%;
  text-align: left;
  padding: 1rem;
}

label {
  text-align: left;
  font-size: 1rem;
  color: #e4e2e2;
  margin-bottom: 0;
}

/* HEADER */

.navbar {
  position: relative;
  display: flex;
  height: 6rem;
  width: 100%; 
  background-color: #1a2930;
  margin: 0;
}

.navbar-brand {
  position: absolute;
  width: 50%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20%;
  left: 0.5rem;
  width: 60%; 
}

.navbar-menu {
  position: absolute;
  padding: 0.7rem;
  right: 0;
  display: inline;
  background-color: #1a2930;
}

.navbar-menu .button {
  width: 4rem;
  height: 2rem;
  margin: 1.5rem 0 0 1rem;
  font-size: 0.6rem;
}

/* BANNER */

.banner {
  width: 100%;
}

.banner-text {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.banner h1 {
  line-height: 4rem;
  margin-bottom: 1rem;
}

.banner h4 {
  color: #e4e2e2;

}

.banner-text p {
  margin-top: 1rem;
  color: #8e9b9f;
}

.banner img {
  width: 30%;
  margin-top: 1rem;
}

/* LOCATIONS */

.locations {
  height: 400px;
  width: 100%;

}

.map { 
  height: 400px; 
  width: 100vw;
  position: relative;
  overflow: auto;
}

.leaflet-container { 
  height: 400px; 
  width: 100vw;
  position: relative;
  overflow: auto;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.12);
}

/* LOGIN & REGISTER */

.login, .register {
  width: 80%;
  margin: auto;
  border: none;
}

.login button, .register button {
  margin-left: 0;
}

.login {
  height: 550px;
}

form h2 {
  margin-bottom: 1rem;
} 

fieldset {
  border-width: 0;
  border-color: transparent;
}

/* ADVERTISING */

.advertising {
  height: 10%;
  padding: 2rem;
  background-color: #314950;
}

.advertising img {
  width: 20%;
  margin: 2rem 1rem 2rem 1rem;
}

/* STORE */

/* DONATIONS */

.donations {
  position: relative;
  padding: 0;
  margin-top: 1rem;
}

.donations p {
  font-size: 1.2rem;
  padding: 0 1rem 0 1rem;
}

.donations-buttons {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.donations-buttons button {
  background-color: #F7CE3E;
  border-color: #1a2930;
  color: #1a2930;
  font-size: 1.3rem;
  width: 7rem;
  height: 2.5rem;
  padding-top: 0.2rem;
}

.donate-button {
  margin-bottom: 2rem;
}

.donatepic {
  position: relative;
  bottom: 0;
  right: 0;
}

.donatepic img {
  min-height: 262px;
  object-fit: cover;
}

/* STORE BAR GRAPH */

body {
  margin: 0;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}

/* ADMIN COMPANY LIST */ 

.companyList {
  position: relative;
  padding: 0;
  margin-top: 1rem;
}

.companyList table {
  margin: 0 auto;
}
.companyList table tr td, .companyList table tr th {
  padding: 5px;
  text-align: center;
}

/* FOOTER */

.footer {
  width: 100%;
  margin: 0;
  background-color: #1a2930;
  color: #e4e2e2;
  padding: 2rem 1.5rem 3rem;
}

.footer h4 {
  margin-bottom: 0.5rem;
}

.footer p {
  font-size: 0.8rem;
}

.footer-email {
  margin-bottom: 1rem;
}

.footer-email a {
  font-size: 1.2rem;
  color: #e4e2e2;
}

/* MEDIA QUERIES */ 

@media only screen and (min-width: 350px) {
  .login {
    height: 520px;
  }
}

@media only screen and (min-width: 440px) {
  .logo {
    width: 50%;
  }
}

@media only screen and (min-width: 500px) {
  .logo {
    width: 50%;
    top: 15%;
  }
  .donatepic {
    position: relative;
    bottom: 0;
  }  
}

@media only screen and (min-width: 640px) {
  .banner img {
    width: 15%;
    margin-top: 1rem;
  }
  .logo {
    width: 40%;
  }
  .login {
    height: 700px;
  }
  .donations-buttons {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .donate-button {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .donations h2 {
    margin-top: 3rem;
 
  }
}

@media only screen and (min-width: 750px) {
  .container {
    height: 100vh;
  }
  .navbarmenu .button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }
  .logo {
    top: 10%;
  }
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
  } 
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .navbar-brand {
    margin-left: 5% !important;
  }
  .navbar-menu .button {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem 0 0 1rem;
    font-size: 0.9rem;
  }
  .login button, .register button {
    width: 8rem;
  }
  .navbar-menu {
    margin-right: 5% !important;
  }
  .logo {
    width: 35%; 
    top: 10%;
  }
  .banner-text {
    width: 50%;
  }
  .banner p {
    font-size: 1.2rem;
  }
  .login, .register {
    width: 60%;
    margin: auto;
  }
  .footer-text {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1088px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
  .logo {
    width: 30%; 
    top: 0;
  }
  .locations {
    height: 500px;
    width: 100%;
  }
  #map { 
    height: 500px; 
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 30%; 
    top: 0;
  }
  .donations-buttons button {
    width: 20rem;
    font-size: 1.5rem;
  }
  .donatepic img {
    width: 100%;
  }
}  

@media only screen and (min-width: 1400px) {
  .navbar{
    height: 8rem;
  }
  .logo {
    width: 28%;
  }
}  
