/* RESET CSS */


* {
  box-sizing: border-box;
  /* border: 0.1px solid red;  */
}

html, body {
  width: 100%;
  color: #e4e2e2;
  text-align: center;
  margin: 0; 
  padding: 0; 
  background-color: #314950;
  font-family: 'Libre Franklin', sans-serif
}

h1, h2, h3 {
  font-weight: 900;
  color: #F7CE3E;
  margin: 2.5rem 0 2.5rem 0;
  padding-top: 1rem;
}

h4, h5 {
  font-weight: 900;
  color: #e4e2e2;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  color:#e4e2e2;
}

.button {
  width: 7rem;
  height: 2.5rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(179,188,191,1) 0%, rgba(142,155,159,1) 100%);
  border: none;
  color: #1a2930;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 2px 0 #1a2930;
}

.button:hover {
  color: #e4e2e2;
}

.button:active {
  background: #1a2930;
  color: #e4e2e2;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 1rem;
  color: #1a2930;
  border-radius: 3px;
  background-color: white;
  box-shadow: inset 0 1px 3px #ddd;
}

span {
  color: black;
}

::placeholder {
  font-size: 0.8rem;
}

.error {
  margin-top: 2.5rem;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

form {
  width: 100%;
  text-align: left;
  padding: 1rem;
}

label {
  text-align: left;
  font-size: 1rem;
  color: #e4e2e2;
  margin-bottom: 0;
}

/* HEADER */

.navbar {
  position: relative;
  display: flex;
  height: 6rem;
  width: 100%; 
  background-color: #1a2930;
  margin: 0;
}

.navbar-brand {
  position: absolute;
  width: 50%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20%;
  left: 0.8rem;
  width: 60%; 
}

.navbar-menu {
  position: absolute;
  padding: 0.7rem;
  right: 0.6rem;
  display: inline;
  background-color: #1a2930;
}

.navbar-menu .button {
  width: 4rem;
  height: 2rem;
  margin: 1.5rem 0 0 1rem;
  font-size: 0.6rem;
}

/* BANNER */

.banner {
  width: 100%;
}

.banner-text {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.banner h1 {
  line-height: 4rem;
  margin-bottom: 1rem;
}

.banner h4 {
  color: #e4e2e2;
}

.banner-text p {
  margin-top: 1rem;
  color: #8e9b9f;
}

.banner img {
  width: 20%;
  margin-top: 2rem;
  max-width: 5rem;
}

/* LOCATIONS */

.locations {
  height: 500px;
  width: 100%;
}

.map { 
  height: 500px; 
  width: 100vw;
  position: relative;
  overflow: auto;
}

.leaflet-container { 
  height: 500px; 
  width: 100vw;
  position: relative;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.leaflet-popup-content-wrapper {
  text-align: center;
}

/* LOGIN & REGISTER */

.login, .register {
  width: 80%;
  margin: auto;
  border: none;
}

.login button, .register button {
  margin-left: 0;
}

.login {
  height: 550px;
}

form h2 {
  margin-bottom: 1rem;
} 

fieldset {
  border-width: 0;
  border-color: transparent;
}

/* ADVERTISING */

.advertising {
  height: 10%;
  padding: 2rem;
  background-color: #314950;
}

.advertising img {
  width: 20%;
  margin: 2rem 1rem 2rem 1rem;
}

/* STORE */

.storeprofile {
  margin-top: 3rem;
}

.storeInfo {
  margin-top: 1rem;
  width: 80%;
  margin: auto;
}

.storeInfo h3 {
  margin-bottom: 0;
  color: #e4e2e2;
}

.storeInfo .button {
  width: 6rem;
  height: 2rem;
}

.store-balance {
  margin-top: 3rem;
}

.total-balance {
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: 1;
  background-color: #e4e2e2;
  border: 5px solid #8e9b9f;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 2rem;
}

.total-balance p {
  padding: 2.5rem 2rem 0.5rem 2rem;
  color: #1a2930;
  z-index: 2;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.4rem;
}

.total-balance span {
  color: #1a2930;
  font-size: 2.5rem;
  font-weight: 900;
}

.store-balance-buttons {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.redeem .button {
  width: 6rem;
  height: 3rem;
  background-color: #1a2930; 
  border: none;
}

.donation .button {
  width: 6rem;
  height: 3rem;
  background-color: #8e9b9f; 
  color: #1a2930;
  border: none;
}

/* STORE STATS */

.stats {
  padding: 0;
  width: 95%;
  margin: auto;
  background-color: #314950;
}

.recharts-wrapper {
  width: 95%;
  margin: auto;
}

/* DONATIONS */

.donations {
  position: relative;
  padding: 0;
  margin-top: 1rem;
}

.donations p {
  font-size: 1.2rem;
  padding: 0 1rem 0 1rem;
}

.donations-buttons {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.donations-buttons button {
  background-color: #F7CE3E;
  border-color: #1a2930;
  color: #1a2930;
  font-size: 1.3rem;
  width: 9rem;
  height: 3rem;
  padding-top: 0.2rem;
}

.donate-button {
  margin-bottom: 2rem;
}

.donatepic {
  position: relative;
  bottom: 0;
  right: 0;
}

.donatepic img {
  min-height: 262px;
  object-fit: cover;
}

/* ADMIN */ 

.TotalStats {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.companyList {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  max-width: 830px;
}

.companyList td, .companyList th {
  padding: 10px 0 10px 0;
  text-align: center;
}

.companyList th {
  color: #e4e2e2;
}

.store-name {
  text-align: left;
}

.top-row {
  border-bottom: 2px solid #8e9b9f;
}
.donate-circle, .redeem-circle {
  max-width: 280px;
  max-height: 280px;
}
.redeem-circle {
  background-color: #1a2930;
}

.redeem-circle p, .redeem-circle span {
  color: #e4e2e2;
}



/* FOOTER */

.footer {
  width: 100%;
  margin: 0;
  background-color: #1a2930;
  color: #e4e2e2;
  padding: 2rem;
}

.footer h4 {
  color: #F7CE3E;
  margin-bottom: 0.5rem;
}

.footer p {
  font-size: 0.8rem;
}

.footer-email {
  margin-bottom: 1rem;
}

.footer-email a {
  font-size: 1.2rem;
  color: #e4e2e2;
}

/* MEDIA QUERIES */ 

@media only screen and (min-width: 350px) {
  .login {
    height: 520px;
  }
}

@media only screen and (min-width: 440px) {
  .logo {
    width: 50%;
  }
  .redeem .button {
    width: 8rem;
  }
  .donation .button {
    width: 8rem;
  }
}

@media only screen and (min-width: 500px) {
  .logo {
    width: 50%;
    top: 15%;
  }
  .donatepic {
    position: relative;
    bottom: 0;
  }  
  .store-balance {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    width: 95%;
  }
  .store-balance-buttons {
    display: block;
    margin: 4rem 4rem 4rem 2rem;
    width: 30%;
  }
  .TotalStats {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .total-balance {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .companyList {
    width: 90%;
    position: relative;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  .companyList td, .companyList th {
    padding: 10px 2px 10px 2px;
    text-align: center;
  }
}

@media only screen and (min-width: 640px) {
  h2 {
    font-size: 2.6rem;
  }
  .banner img {
    width: 15%;
    margin-top: 1rem;
  }
  .logo {
    width: 40%;
  }
  .login {
    height: 700px;
  }
  .donations-buttons {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .donate-button {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .donations h2 {
    margin-top: 3rem;
  }
  .TotalStats {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 3rem;
  }
  .total-balance {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .companyList {
    font-size: 1.2rem;
  }
  .companyList td, .companyList th {
    padding: 10px 5px 10px 5px;
  }
}

@media only screen and (min-width: 750px) {
  .container {
    height: 100vh;
  }
  h2 {
    font-size: 2.8rem;
  }
  .navbarmenu .button {
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }
  .logo {
    top: 10%;
  }
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
  } 
  .companyList {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
  }
  .companyList td, .companyList th {
    padding: 15px;
  }
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .navbar-brand {
    margin-left: 5% !important;
  }
  .navbar-menu .button {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem 0 0 1rem;
    font-size: 0.9rem;
  }
  .login button, .register button {
    width: 8rem;
  }
  .navbar-menu {
    margin-right: 5% !important;
  }
  .logo {
    width: 35%; 
    top: 10%;
  }
  .banner-text {
    width: 50%;
  }
  .banner p {
    font-size: 1.2rem;
  }
  .map, .locations, .leaflet-container { 
    height: 500px; 
  }
  .login, .register {
    width: 60%;
    margin: auto;
  }
  .total-balance {
    width: 250px;
    height: 250px;
  }
  .total-balance p {
    padding: 3.5rem 2rem 0.5rem 2rem;
    font-size: 1.3rem;
  }
  .total-balance span {
    font-size: 3.5rem;
  }
  .footer-text {
    margin-left: 5%;
  }
  .companyList {
    width: 75%;
  }
  .companyList td, .companyList th {
    padding: 17px;
  }
}

@media only screen and (min-width: 1088px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
  .logo {
    width: 30%; 
    top: 0;
  }
  .locations {
    height: 500px;
    width: 100%;
  }
  .map { 
    height: 500px; 
  }
  .storeprofile {
    position: relative;
    width: 100%;
    height: 1300px;
  }
  .storeInfo {
    position: absolute;
    font-size: 150%;
    left: 15%;
    margin-top: 5rem;
    width: 25%;
    text-align: left;
  }
  .storeInfo h3 {
    font-size: 130%;
  }
  .storeInfo .button {
    width: 7rem;
    height: 2.5rem;
    margin-left: 0;
    margin-top: 2rem;
  }
  .store-balance {
    position: absolute;
    right: 15%;
    width: 50%;
  }
  .total-balance {
    width: 380px;
    height: 380px;
  }
  .total-balance p {
    padding-top: 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .total-balance span {
    font-size: 3rem;
  }
  .store-balance-buttons {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .redeem .button, .donation .button {
    width: 10rem;
    height: 4rem;
    font-size: 140%;
  }
  .stats {
    position: absolute;
    bottom: 0;
  }
  .TotalStats {
    text-align: center;
    width: 80%;
    margin-bottom: 3rem;
  }
  .total-balance {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .donate-circle p, .redeem-circle p {
    padding-top: 5rem;
  }
  .companyList td, .companyList th {
    padding: 20px;
  }
  .donations-buttons button {
    width: 18rem;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 30%; 
    top: 0;
  }
  .donations-buttons button {
    width: 20rem;
    font-size: 1.5rem;
  }
  .donatepic img {
    width: 100%;
  }
  .companyList {
    width: 70%;
  }
  .Admin {
    position: relative;
    margin-top: 0;
  }
  .admin-top {
    display: flex;
    height: 814px;
    background-color: #8e9b9f;
    border-bottom: 14px solid #e4e2e2;
  }  
  .Admin h2 {
    position: absolute;
    width: 40%;
    margin: auto;
    padding-top: 2rem;
    font-size: 2.5rem;
  }
  .TotalStats {
    display: block;
    width: 40%;
    margin-bottom: 1rem;
    padding: 5rem 5rem 0 4rem;
  }
  .donate-circle p, .redeem-circle p {
    padding-top: 4rem;
    font-size: 1.4rem;
  }
  .locations {
    width: 60%;
    height: 800px;
  }
  .map, .leaflet-container {
    height: 800px;
  }
}  

@media only screen and (min-width: 1400px) {
  .navbar{
    height: 8rem;
  }
  .logo {
    width: 28%;
  }
  .navbar-menu, .navbar-brand {
    padding-top: 2rem;
  }
}  
