* {
  box-sizing: border-box;
  border: 0.5px solid transparent; 
}

html, body {
  max-width: 100%;
  font-family: 'Libre Franklin', sans-serif;
  color: #c5c1c0;
  text-align: center;
  margin: 0px; 
  padding: 0px; 
  background-color: #314950;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  color: #F7CE3E;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

.button {
  width: 10rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: 2px solid  #F7CE3E;
  height: 3rem;
  color: #c5c1c0;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  color:  #1a2930;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 2% 0% 2% 0%;
  color: #1a2930;
  border-radius: 3px;
}

.error {
  margin-top: 2.5rem;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

label {
  font-size: 1rem;
  color: #F7CE3E;
  margin-bottom: 0rem;
}

/* HEADER */

.navbar {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%; 
  background-color: #1a2930;
  margin: 0;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 30%; 
}

.navbar-menu {
  position: absolute;
  right: 0.7rem;
  padding: 1rem;
}

.navbar-menu .button {
  width: 5rem;
  height: 2rem;
  margin: 1rem 0 0 1rem;
  font-size: 0.8rem;
}

/* BANNER */

.banner {
  width: 50%;
  margin: auto;
}

/* LOCATIONS */

#map { 
  height: 300px; 
}

/* LOGIN & REGISTER */

/* STORE INFO */

/* DONATIONS */

/* FOOTER */

footer {
  width: 90%;
  margin: auto;
  height: 5%;
  background-color: #1a2930;
  border-top: 2px solid #7AB0AD;
  margin-top: 5rem;
  margin-bottom: 0;
  color: #E8E8E8;
}

.footer a {
  color: #E8E8E8;
  border: .3px solid transparent;
}

/* MEDIA QUERIES */
